/* Assigning variables */
:root {
    --header-height: 3rem;
    --sidebar-width: 5rem;
    --expanded-sidebar-width: 12rem;
    --primary-colour: #78c6e7;
    --secondary-colour: #f0f5ff;
    --body-font: 'Helvetica Neue', sans-serif;
    --normal-font-size: 1rem;
}

*,
::before,
::after {
    box-sizing: border-box;
}

/*Set certain variables for the body of the page*/
body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font) !important;
    font-size: var(--normal-font-size);
    transition: .5s;
}

/* Header CSS below */
/* Set headers width, height, position and how items are aligned inside it*/
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-colour);
    z-index: 100;
    transition: 0.5s;
}

/* Header title on the right */
.header-title {
    margin-left: auto;
    font-size: 1.5rem;
}

/* Sidebar controlling header elements and buttons stylings */
.header i.bi {
    color: #23a2d9;
    font-size: 2.5rem;
}

.header-button {
    background-color: transparent;
    border: none;
    position: absolute; 
    left: 0;
}

.header-button:focus {
    outline: none;
}

/* Header CSS above*/

/* Sidebar CSS below */
/* Style sidebar sidebar and expansion transition */
.sidebar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--primary-colour);
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

.sidebar.expanded {
    width: var(--expanded-sidebar-width);
}

/* Sidebar person square styling */
.sidebar-info {
    color: var(--secondary-colour);
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    font-size: 2rem;
    margin-top: auto; 
    margin-bottom: 5rem;
    text-align: center;
}

/* Changing styling for expnaded sidebar */
.sidebar.expanded .sidebar-info {
    font-size: 15px;
}
/* Sidebar CSS above */

.body-pd {
    padding-left: calc(var(--sidebar-width) + 1rem);
}

/* User view CSS styling below */
.users-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
}

.user-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
}

/* Indivisdual user box stylings */
.user-box {
    padding: 20px;
    border-radius: 2rem; 
    border-color: var(--secondary-colour);
    border-style: solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    overflow: hidden; 
}

.user-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

/* Hover stylings */
.user-box:hover::before {
    opacity: 0.9;
}

.hover-text {
    position: absolute;
    font-size: 20px;
    color: #212529;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.user-box:hover .hover-text {
    opacity: 1; 
    visibility: visible;
}
/* User view CSS styling above */

/* Front page info box CSS stylings below*/
.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
}

/* Individual info box stylings */
.info-grid-item {
    padding: 20px; 
    border-radius: 2rem;
    border-color: var(--secondary-colour);
    border-style: solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center; 
    gap: 20px;
    position: relative;
    overflow: hidden; 
    transition: opacity 0.5s ease;
}
/* Front page info box CSS stylings above*/

/* Buttons CSS below */
.btn {
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--secondary-colour);
    cursor: pointer;
}

.sidebar-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    margin-top: 70px;
    text-align: center;
}

.sidebar-btn i,
.sidebar-btn h1 {
    font-size: 30px;
    color: var(--secondary-colour);
    margin: 0; 
}

.btn:focus {
    outline: none;
}

/* Buttons CSS ended */

/*  Headings CSS below  */
.frontpage-heading {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.frontpage-subheading {
    font-size: 2rem;
    font-weight:bold

}
.user-heading {
    font-size: 2rem;
}

.viewusers-heading {
    margin-top: 2rem;
    position: relative;
}

/*  Headings CSS ended  */

/* Miscellaneous list, margin, and input search CSS stylings below */
.none-margin {
    margin: 0;
}

.none-list-type {
    list-style-type: none;
}

.input-search {
    margin: 0 0 1rem 0;
}
/* Miscellaneous CSS stylings above */

/* Different CSS stylings for different window sizes below */
@media screen and (min-width: 370px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--sidebar-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--sidebar-width) + 2rem);
    }

    .sidebar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .show {
        width: calc(var(--sidebar-width) + 156px);
    }

    .body-pd {
        padding-left: calc(var(--sidebar-width) + 188px);
    }
}
/* Different CSS stylings for different window sizes above */